* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-red: hsl(0, 78%, 62%);
  --primary-cyan: hsl(180, 62%, 55%);
  --primary-orange: hsl(34, 97%, 64%);
  --primary-blue: hsl(212, 86%, 64%);

  --neutral-darkBlue: hsl(234, 12%, 34%);
  --neurtal-grayBlue: hsl(229, 6%, 66%);
  --neutral-lightGray: hsl(0, 0%, 98%);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  min-height: 100vh;
  background-color: var(--neutral-lightGray);
}

h1 {
  color: var(--neutral-darkBlue);
  font-size: 1.5rem;
}

p {
  color: var(--neurtal-grayBlue);
}

.container {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* --- HEADER STYLES --- */

header {
  text-align: center;
  padding: 50px 0;
}

header > p {
  padding: 10px 30px 10px 30px;
}

.light {
  font-weight: 400;
  font-size: 1.45rem;
  color: var(--neurtal-grayBlue);
}

/* --- CARD STYLES --- */

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 30px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 5px 10px hsla(234, 12%, 34%, 0.226);
  padding: 20px;
  height: 230px;
}

.card-text {
  font-size: 14px;
}

.card-title {
  font-size: 1.35rem;
}

.card > img {
  align-self: flex-end;
  justify-self: right;
  padding-top: 40px;
}

.supervisor {
  border-top: 5px solid var(--primary-cyan);
}

.team {
  border-top: 5px solid var(--primary-red);
}

.karma {
  border-top: 5px solid var(--primary-orange);
}

.calculator {
  border-top: 5px solid var(--primary-blue);
}

/* --- FOOTER STYLES --- */

footer {
  margin-top: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* --- MEDIA QUERIES --- */

@media screen and (min-width: 800px) {
  .container {
    display: grid;
    grid-template-rows: 1fr auto 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "h h h"
      "m m m"
      "f f f";
    min-width: 800px;
    padding-top: 20px;
    height: 99vh;
  }

  header {
    grid-area: h;
    width: 70%;
    justify-self: center;
  }

  main {
    grid-area: m;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "sup team calc"
      "sup kar calc";
    width: 100%;
    /* height: auto; */
    justify-self: center;
  }

  footer {
    grid-area: f;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .card {
    height: 250px;
  }

  .supervisor {
    grid-area: sup;
    align-self: center;
  }

  .team {
    grid-area: team;
  }

  .karma {
    grid-area: kar;
  }

  .calculator {
    grid-area: calc;
    align-self: center;
  }
}

@media screen and (min-width: 1442px) {
  .container {
    display: grid;
    grid-template-rows: 1fr auto 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "h h h"
      "m m m"
      "f f f";
    min-width: 1440px;
    padding-top: 20px;
    height: 99vh;
  }

  header {
    grid-area: h;
    width: 40%;
    justify-self: center;
  }

  main {
    grid-area: m;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "sup team calc"
      "sup kar calc";
    width: 90%;
    /* height: auto; */
    padding: 0px 100px;
    justify-self: center;
  }

  footer {
    grid-area: f;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .card {
    height: 250px;
  }

  .supervisor {
    grid-area: sup;
    align-self: center;
  }

  .team {
    grid-area: team;
  }

  .karma {
    grid-area: kar;
  }

  .calculator {
    grid-area: calc;
    align-self: center;
  }
}
